.elementor-552
  .elementor-element.elementor-element-f9e6c5f:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-552
  .elementor-element.elementor-element-f9e6c5f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  position:absolute;
  z-index: 1;
}
.elementor-552 .elementor-element.elementor-element-f9e6c5f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 1em 1em 1em 1em;
}
.elementor-552
  .elementor-element.elementor-element-f9e6c5f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-552
  .elementor-element.elementor-element-87182e2.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-552
  .elementor-element.elementor-element-87182e2.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-552 .elementor-element.elementor-element-8d1f29e {
  text-align: left;
}
.elementor-552 .elementor-element.elementor-element-8d1f29e img {
  width: 48%;
}
.elementor-bc-flex-widget
  .elementor-552
  .elementor-element.elementor-element-49e6a2c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-552
  .elementor-element.elementor-element-49e6a2c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-menu-toggle {
  margin-left: auto;
  background-color: var(--e-global-color-76ffbce);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu
  .elementor-item {
  font-family: var(--e-global-typography-bf2a579-font-family), Sans-serif;
  font-size: var(--e-global-typography-bf2a579-font-size);
  font-weight: var(--e-global-typography-bf2a579-font-weight);
  line-height: var(--e-global-typography-bf2a579-line-height);
  letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
  word-spacing: var(--e-global-typography-bf2a579-word-spacing);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item {
  color: var(--e-global-color-77ca2af);
  fill: var(--e-global-color-77ca2af);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: var(--e-global-color-91734c1);
  fill: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:before,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item:after {
  background-color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .e--pointer-framed
  .elementor-item:before,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .e--pointer-framed
  .elementor-item:after {
  border-color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:before,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--main:not(.e--pointer-framed)
  .elementor-item.elementor-item-active:after {
  background-color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .e--pointer-framed
  .elementor-item.elementor-item-active:before,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .e--pointer-framed
  .elementor-item.elementor-item-active:after {
  border-color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-menu-toggle {
  color: var(--e-global-color-77ca2af);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown {
  background-color: var(--e-global-color-56d4114);
  border-radius: 0px 0px 10px 10px;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: var(--e-global-color-76ffbce);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-91734c1);
  background-color: var(--e-global-color-76ffbce);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-bf2a579-font-family), Sans-serif;
  font-size: var(--e-global-typography-bf2a579-font-size);
  font-weight: var(--e-global-typography-bf2a579-font-weight);
  letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
  word-spacing: var(--e-global-typography-bf2a579-word-spacing);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  li:first-child
  a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  li:last-child
  a {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-nav-menu--dropdown
  a {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  div.elementor-menu-toggle {
  color: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  div.elementor-menu-toggle
  svg {
  fill: var(--e-global-color-91734c1);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  div.elementor-menu-toggle:hover {
  color: var(--e-global-color-77ca2af);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  div.elementor-menu-toggle:hover
  svg {
  fill: var(--e-global-color-77ca2af);
}
.elementor-552
  .elementor-element.elementor-element-75a42ac
  .elementor-menu-toggle:hover {
  background-color: var(--e-global-color-76ffbce);
}
.elementor-bc-flex-widget
  .elementor-552
  .elementor-element.elementor-element-cd4365b.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-552
  .elementor-element.elementor-element-cd4365b.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-552 .elementor-element.elementor-element-e019434 .elementor-button {
  font-family: var(--e-global-typography-a7477b6-font-family), Sans-serif;
  font-size: var(--e-global-typography-a7477b6-font-size);
  font-weight: var(--e-global-typography-a7477b6-font-weight);
  text-transform: var(--e-global-typography-a7477b6-text-transform);
  line-height: var(--e-global-typography-a7477b6-line-height);
  letter-spacing: var(--e-global-typography-a7477b6-letter-spacing);
  word-spacing: var(--e-global-typography-a7477b6-word-spacing);
}
@media (max-width: 1024px) {
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-bf2a579-font-size);
    line-height: var(--e-global-typography-bf2a579-line-height);
    letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
    word-spacing: var(--e-global-typography-bf2a579-word-spacing);
  }
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-bf2a579-font-size);
    letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
    word-spacing: var(--e-global-typography-bf2a579-word-spacing);
  }
  .elementor-552 .elementor-element.elementor-element-75a42ac {
    --nav-menu-icon-size: 25px;
  }
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-menu-toggle {
    border-width: 1px;
    border-radius: 5px;
  }
  .elementor-552
    .elementor-element.elementor-element-e019434
    .elementor-button {
    font-size: var(--e-global-typography-a7477b6-font-size);
    line-height: var(--e-global-typography-a7477b6-line-height);
    letter-spacing: var(--e-global-typography-a7477b6-letter-spacing);
    word-spacing: var(--e-global-typography-a7477b6-word-spacing);
  }
}
@media (min-width: 768px) {
  .elementor-552 .elementor-element.elementor-element-87182e2 {
    width: 30%;
  }
  .elementor-552 .elementor-element.elementor-element-49e6a2c {
    width: 50%;
  }
  .elementor-552 .elementor-element.elementor-element-cd4365b {
    width: 19.333%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-552 .elementor-element.elementor-element-87182e2 {
    width: 50%;
  }
  .elementor-552 .elementor-element.elementor-element-49e6a2c {
    width: 50%;
  }
  .elementor-552 .elementor-element.elementor-element-cd4365b {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .elementor-552 .elementor-element.elementor-element-87182e2 {
    width: 50%;
  }
  .elementor-552 .elementor-element.elementor-element-49e6a2c {
    width: 50%;
  }
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu
    .elementor-item {
    font-size: var(--e-global-typography-bf2a579-font-size);
    line-height: var(--e-global-typography-bf2a579-line-height);
    letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
    word-spacing: var(--e-global-typography-bf2a579-word-spacing);
  }
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-552
    .elementor-element.elementor-element-75a42ac
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-bf2a579-font-size);
    letter-spacing: var(--e-global-typography-bf2a579-letter-spacing);
    word-spacing: var(--e-global-typography-bf2a579-word-spacing);
  }
  .elementor-552
    .elementor-element.elementor-element-e019434
    .elementor-button {
    font-size: var(--e-global-typography-a7477b6-font-size);
    line-height: var(--e-global-typography-a7477b6-line-height);
    letter-spacing: var(--e-global-typography-a7477b6-letter-spacing);
    word-spacing: var(--e-global-typography-a7477b6-word-spacing);
  }
}
